/* Estilos generales para la página */
.main-content {
  background-color: #fff;
}

.col {
  border-bottom: 2px solid #2d591b;
}

/* Estilos para la sección de filtros */
.container-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

/* Estilos para los filtros */
.container-filter {
  position: relative;
}

.card-body-filter {
  border: 2px solid #2d591b;
  border-radius: 8px;
  padding: 10px;
  background-color: #3b3b3b;
  width: 100%;
  /* Abarcar todo el borde */
}

.filter-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.btn-filter {
  background-color: #35353500;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  font-size: 16px;
  text-align: left;
  width: 100%;
  /* Abarcar todo el borde */
  display: flex;
  align-items: center;
}


.filter-label {
  font-weight: 600;
  color: #343a40;
  flex: 1;
  border-radius: 10px;
}

.filter-options {
  z-index: 1000;
  width: 100%;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter-options ul {
  list-style-type: none;
}

.filter-options li a {
  text-decoration: none;
  color: #343a40;
}

.filter-options li a:hover {
  background-color: #cbcbcb;
  color: #495057;
}

/* Estilo para mostrar el filtro desplegado */
.filter-options.d-block {
  display: block;
}

.dropdown-item {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #DFFDD1;
}

/* Tarjetas dentro de la sección de filtros */
.card-body-filter {
  background-color: #fff;
  border: 2px solid #2d591b;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  flex: 1;
  max-width: 200px;
  box-sizing: border-box;
}

/* Estilos para el cuerpo del calendario */
.card-body-calendar {
  background-color: #fff;
  border: 2px solid #2d591b;
  border-radius: 19px;
  text-align: center;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

/* Calendario */
.calendar-new {
  width: 100%;
  /* Ocupa todo el ancho disponible */
  padding: 40px 30px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  border: 2px solid #2d591b;
  box-sizing: border-box;
  transition: width 0.3s ease;
  margin-bottom: 1rem;
}

/* Cabecera del calendario */
.calendar-new .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #2d591b;
}

.calendar-new .header .month {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  color: var(--text-color);
}

.calendar-new .header .btns {
  display: flex;
  gap: 10px;
}

.calendar-new .header .btns .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: #fff;
  background-color: #33701b;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

.calendar-new .header .btns .btn:hover {
  background-color: #2d591b;
  transform: scale(1.05);
}

/* Días de la semana */
.weekdays {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.weekdays .day {
  width: calc(100% / 7 - 10px);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

/* Estilos para los días del calendario */
.days {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  user-select: none;
}

.days .day {
  width: calc(100% / 7 - 10px);
  height: 70px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  background-color: #fff;
  transition: all 0.3s;
  border: 1px solid;
  align-items: center;
}

@media screen and (max-width: 470px) {
  .days .day {
    height: 35px;
    font-size: 10px;
  }
}

.days .day:not(.next):not(.prev):hover {
  color: #fff;
  background-color: #33701b;
  transform: scale(1.05);
}

.days .day.today {
  color: #ffffff;
  background-color: #33701b;
  border: 1px solid;
}

.days .day.next,
.days .day.prev {
  color: #ccc;
}

.economic-day {
  position: relative;
  background-color: #f0f8ff;
  /* Color de fondo para días económicos */
  border: 1px solid #00f;
  /* Borde para días económicos */
}

.economic-icon {
  pointer-events: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  width: 2rem;
  /* Ajusta el tamaño del ícono */
  height: 2rem;
  /* Ajusta el tamaño del ícono */
}

.card-avisos {
  background-color: #fff;
  border: 2px solid #2d591b;
  border-radius: 19px;
  text-align: center;
  margin-bottom: 1rem;
  padding: 1rem;
}

.text-verde {
  color: #2d591b;
  font-size: 40px;
  font-weight: 5px;
}


@media (max-width: 524px) {

  /* Mantener la cabecera del calendario */
  .calendar-new .header {
    flex-direction: column;
    align-items: center;
  }

  .days {
    display: flex;
    flex-wrap: wrap;
    gap: 11.5px;
    user-select: none;
  }

  .weekdays {
    display: flex;
    justify-content: space-between;
    /* Distribuir los días de manera equitativa */
    gap: 1px;
  }

  .weekdays .day {
    flex: 1;
    /* Hacer que cada día ocupe el mismo espacio */
    text-align: center;
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}