.title{
    color: black !important;
    font-size: 40px !important;
    padding: 20px;
}
.text{
    color: black;
    font-size: 20px;
    padding: 20px;
}
#regresar {
    background-color: #008A45;
    color: #ffffff;
    border-width: 2px;
    border-color: black;
    border-radius: 50px;
}

#regresar:hover {
    background-color: #ffffff;
    color: rgb(4, 129, 0);
    transition: background-color 0.3s, color 0.3s;
}
#recuperar {
    background-color: #008A45;
    color: #ffffff;
    border-width: 2px;
    border-color: black;
    border-radius: 50px;
}

#recuperar:hover {
    background-color: #ffffff;
    color: rgb(4, 129, 0);
    transition: background-color 0.3s, color 0.3s;
}